*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  font-size: 75%; }
  @media only screen and (min-width: 106.25em) {
    html {
      font-size: 80%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 70%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #126e82;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none; }

body {
  font-family: sans-serif; }

.link-list {
  width: 50vw;
  height: 80vh;
  background-color: #132c33;
  position: relative; }
  .link-list__header-container {
    position: absolute;
    width: 100%;
    user-select: none;
    display: flex;
    padding: 0.7rem;
    color: white; }
    .link-list__header-container .title {
      font-size: 2rem;
      transform: skewX(-15deg);
      font-weight: 700;
      text-align: center;
      width: 100%; }
    .link-list__header-container .close-button {
      font-size: 1.3rem;
      position: absolute;
      right: 10px;
      top: 5px; }
  .link-list .link-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem; }
    .link-list .link-container .link {
      width: 60%;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      color: white;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.74);
      transition: box-shadow 0.2s cubic-bezier(0.77, 0, 0.175, 1);
      cursor: pointer;
      text-decoration: none; }
      .link-list .link-container .link:hover {
        box-shadow: 3px 3px 19px 3px rgba(0, 0, 0, 0.74); }
      .link-list .link-container .link:active {
        box-shadow: none; }
      .link-list .link-container .link.blog {
        background-color: #4477FF; }
      .link-list .link-container .link.photo-app {
        background-color: #DD2A7B; }
      .link-list .link-container .link.post-app {
        background-color: #1DA1F2; }
      .link-list .link-container .link.stream-app {
        background-color: #6441a5; }
      .link-list .link-container .link.music-app {
        background-color: #1DB954; }
  @media only screen and (max-width: 37.5em) {
    .link-list {
      width: 90vw; } }
  @media only screen and (max-width: 56.25em) {
    .link-list {
      width: 80vw; } }
