*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  font-size: 95%; }
  @media only screen and (min-width: 106.25em) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 90%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 80%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 70%; } }

body {
  width: 100%;
  box-sizing: border-box; }

.section {
  scroll-snap-align: start; }

body {
  font-family: 'Jomolhari', sans-serif; }

.button:active, .window__button:active {
  border-right: 0.2rem solid #c7c7c7;
  border-bottom: 0.2rem solid #c7c7c7;
  border-left: 0.2rem solid #7b7b7b;
  border-top: 0.2rem solid #7b7b7b;
  background-size: 2px 2px;
  background-color: #8c8c8c; }

.panel, .button, .window__button, .window {
  background-color: #d6d3a7;
  border-left: 0.2rem solid #c7c7c7;
  border-top: 0.2rem solid #c7c7c7;
  border-right: 0.2rem solid #7b7b7b;
  border-bottom: 0.2rem solid #7b7b7b; }

.taskbar {
  user-select: none;
  padding: 0 0.5rem;
  width: 100%;
  height: 42px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  background: black;
  background: linear-gradient(0deg, black 0%, #d6d3a7 3%, #d6d3a7 97%, #fefac7 100%); }
  .taskbar input[type=checkbox] {
    display: none; }
    .taskbar input[type=checkbox]:checked ~ .start-menu {
      display: block;
      top: -30rem; }
  .taskbar .start-menu {
    position: absolute;
    height: 30rem;
    width: 25rem;
    display: none; }
  .taskbar__start-menu-button {
    padding: 1rem;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px; }
  .taskbar__options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .taskbar__options * {
      margin: 0 0.4rem; }
    .taskbar__options__clock {
      font-size: 18px; }