.boot-screen {
  background-image: url("../../assets/img/bootbg.jpg");
  background-size: cover;
  background-position: center;
  height: 100dvh;
  max-height: 100dvh;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100dvw;
}

.loading-wrapper {
  position: absolute;
  bottom: 0;
  width: 100dvw;
}

.logo-wrapper {
  transform: translateY(-32px);
}
