.wanderer {
  width: 100dvw;
  max-width: 100dvw;
  height: 100dvh;
  max-height: 100dvh;
  background-image: url("../../assets/img/defaultbg.png");
  background-size: auto;
  background-repeat: repeat;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/svg/noise.svg");
    opacity: 0.25;
    filter: contrast(100%) brightness(100%);
    pointer-events: none;
  }
}
