.panel {
    background-color: rgba(214,211,167,1);
    border-left: 0.3rem solid $button_light;
    border-top: 0.3rem solid $button_light;
    border-right: 0.3rem solid $button_shadow;
    border-bottom: 0.3rem solid $button_shadow;
}