.file-explorer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation-bar {
  display: flex;
  height: 54px;
  border-bottom: 1px solid rgb(160, 160, 160);
  box-shadow: inset 0px -1px rgb(192, 192, 192);
  padding: 5px 5px;
  gap: 5px;
  align-items: center;

  .divider {
    width: 2px;
    height: 54px;
    transform: translateY(-2px);
    background-color: rgb(192, 192, 192);
    margin: 3px 10px 0 10px;
  }

  input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 0 7px;
  }

  button {
    padding: 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: rgb(160, 160, 160);
    }
  }

  .icon {
    &.go-forward {
      transform: scaleX(-1);
    }

    &.go-up {
      transform: rotate(90deg);
    }
  }
}

.content {
  height: 100%;
  display: flex;
}

.left-panel {
  border-right: 1px solid rgb(192, 192, 192);
  padding: 15px 10px;
  width: 150px;

  .divider {
    width: 150px;
    height: 1px;
    background-color: rgb(192, 192, 192);
    transform: translateX(-10px);
    margin: 15px 0;
  }

  .shortcut-entry {
    height: 28px;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;

    &:hover {
      color: rgb(9, 9, 121);
      cursor: pointer;
    }

    .icon {
      margin-right: 5px;
    }
  }

  .title {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
  height: fit-content;

  &.list {
    .file-entry {
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding: 0 15px;
      height: 40px;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: rgb(192, 192, 192);
      gap: 10px;

      .icon {
        height: 32px;
      }
    }
  }

  &.grid {
    .file-entry {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: fit-content;
      padding: 0 15px;
      height: 70px;
      min-width: 70px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;

      input: {
        width: 70px;
        text-align: center;
      }
    }
  }

  .file-entry {
    display: flex;

    &.new {
      outline: 1px dotted rgb(80, 80, 80);

      input {
        background-color: transparent;
        border: none !important;
        outline: 1px dotted rgb(80, 80, 80);
      }
    }

    &.cut {
      filter: opacity(0.6);
    }

    &.selected {
      background-color: rgb(88, 88, 228);
      border-color: rgb(172, 172, 172);
      border-style: dotted;

      .file-name {
        color: white;
      }
    }
  }
}
