$light_blue: #d8e3e7;
$blue: #51c4d3;
$dark_blue: #126e82;
$darker_blue: #132c33;
$photo_app: #DD2A7B;
$post_app: #1DA1F2;
$stream_app: #6441a5;
$music_app: #1DB954;
$question_app: #e08103;
$blog: #4477FF;