@use "./general/general";
@use "./components/loading";
@use "./screens/boot";
@use "./screens/bios";
@use "./screens/wanderer";
@use "./screens/shutdownScreen";
@use "./components/program";
@use "./components/topBar";
@use "./components/mainMenu";
@use "./components/warn";
@use "./programs/fileExplorer";
@use "./components/about";
@use "./programs/terminal.scss";
@use "./components/tabs.scss";
@use "./programs/configurations.scss";

body {
    margin: 0;
    min-width: 300px;
}

html {
    overflow: hidden;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box !important;
}
