@use "./general/general";
@use "./components/loading";
@use "./screens/boot";
@use "./screens/bios";
@use "./screens/wanderer";
@use "./screens/shutdownScreen";
@use "./components/program";
@use "./components/topBar";
@use "./components/mainMenu";
@use "./components/warn";
@use "./programs/fileExplorer";

body {
  margin: 0;
  box-sizing: border-box !important;
  min-width: 300px;
}

html {
  overflow: hidden;
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
